
#app {
    display: grid;
    align-items: center;
    justify-self: center;
    min-width: 40vw;
}

.title {
    display: grid;
    justify-self: center;
    h1 {
        margin-top: 2rem;
        margin-bottom: .5rem;
    }
    div {
        justify-self: center;
        margin-bottom: .5rem;
    }
}

table {
    border: 2px solid;
}

.head-row td {
    font-weight: bold;
    border: 1.5px solid;
}

tbody tr td{
    border: .75px solid;
}